## Analyzing fitbit data from one person over a few months

### Goals

### Hypothesis

### Findings

### Data Dictionary

In [1]:
# data manipulation
import pandas as pd
import numpy as np

from sklearn.model_selection import TimeSeriesSplit
from sklearn import metrics

import math
from datetime import datetime

# visualizations
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

# py files for reproducibility 
import prepare
import explore

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

## Acquire

Download csv files from "thumbdrive" with fitbit data

In excel, copy and pasted all activity logs into one file

Read in newly created csv file

In [12]:
df = pd.read_csv('activity_log.csv')

## Prepare

In [16]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2018-04-26 to 2018-12-06
Data columns (total 9 columns):
cal_burned             225 non-null float64
steps                  225 non-null float64
distance               225 non-null float64
floors                 225 non-null int64
mins_sedentary         225 non-null float64
mins_light_activity    225 non-null int64
mins_fair_activity     225 non-null int64
mins_very_active       225 non-null int64
activity_cals          225 non-null float64
dtypes: float64(5), int64(4)
memory usage: 17.6 KB

,cal_burned,steps,distance,floors,mins_sedentary,mins_light_activity,mins_fair_activity,mins_very_active,activity_cals
date,,,,,,,,,
2018-04-26,2635.0,2931.0,1.38,2,1347.0,93,0,0,566.0
2018-04-27,3649.0,9971.0,4.70,19,1158.0,219,46,17,1752.0
2018-04-28,3379.0,3521.0,1.66,2,702.0,155,22,11,1124.0
2018-04-29,2851.0,1639.0,0.77,0,891.0,122,0,0,602.0
2018-04-30,2825.0,1323.0,0.62,0,880.0,104,0,0,540.0

Rename columns for ease-of-access and readability. 

Change the date to a datetime format, set as index, and sort. 

Remove commas from object columns and change to float columns.

In [13]:
df = prepare.get_fitbit_data()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2018-04-26 to 2018-12-06
Data columns (total 9 columns):
cal_burned             225 non-null float64
steps                  225 non-null float64
distance               225 non-null float64
floors                 225 non-null int64
mins_sedentary         225 non-null float64
mins_light_activity    225 non-null int64
mins_fair_activity     225 non-null int64
mins_very_active       225 non-null int64
activity_cals          225 non-null float64
dtypes: float64(5), int64(4)
memory usage: 17.6 KB

### Explore